<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.thewishofthestarlanguage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".model.config.App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.ContainerActivity" />
        <activity android:name=".view.base.BaseActivity" />
        <activity android:name=".view.personal.activity.LoveActivity" />
        <activity android:name=".view.personal.activity.LoginActivity" />
        <activity android:name=".view.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.personal.activity.PerfectInformationActivity" />
        <activity android:name=".view.personal.activity.RegisterActivity" />
        <activity android:name=".view.personal.activity.UnivStarHttpActivity" />
        <activity android:name=".view.personal.activity.SetActivity" />
        <activity android:name=".view.personal.activity.ResetPassWordActivity" />
        <activity android:name=".view.personal.activity.FindPassWordActivity" />
        <activity
            android:name=".view.treasure.activity.TreasureDetailsActivity"
            android:label="@string/title_activity_preview_details"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.preview.activity.PrevieDetailsActivity" />
        <activity android:name=".view.personal.activity.MyselfMessageActivity" />
        <activity android:name=".view.personal.activity.ChangeNickNameActivity" />
        <activity android:name=".view.personal.activity.ChangeAddressActivity" />
        <activity android:name=".view.ui.MessageActivity" />
        <activity android:name=".view.personal.activity.WorksActivity" />
        <activity android:name=".view.personal.activity.PostActivity" />
        <activity android:name=".view.personal.activity.FollowActivity" />
        <activity android:name=".view.personal.activity.FansActivity" />
        <activity android:name=".view.personal.activity.MyOrderActivity" />
        <activity android:name=".view.famousteacher.activity.MasterDetailActivity" />
        <activity android:name=".view.famousteacher.activity.LiveDetailsActivity" />
        <activity android:name=".view.famousteacher.activity.FamousTeacherActivity" />
        <activity android:name=".view.famousteacher.activity.LiveingActivity" />
        <activity android:name=".view.famousteacher.activity.OperationDetailsActivity" />
        <activity android:name=".view.famousteacher.activity.TaskActivity" />
        <activity android:name=".view.famousteacher.activity.CurriculumActivity" />
        <activity android:name=".view.famousteacher.activity.TeachersfanSiActivity" />
        <activity android:name=".view.famousteacher.activity.ReplyActivity" />
        <activity android:name=".view.ui.WorkWorkActivityActivity" />
        <activity android:name=".view.personal.activity.PersonalMessageActivity" />
        <activity android:name=".view.personal.activity.VoucherCenterActivity" />
        <activity android:name=".view.personal.activity.GiftCenterActivity" />
        <activity android:name=".view.personal.activity.MyCollectionActivity" />
        <activity android:name=".view.personal.activity.CertifiedActivity" />
        <activity android:name=".view.personal.activity.AboutUnivStarActivity" />
        <activity android:name=".view.personal.activity.UnivStarIntroduceActivity" />
        <activity android:name=".view.personal.activity.ChangePasswordActivity" />
        <activity android:name=".view.personal.activity.ChangeMobileActivity"></activity>
    </application>

</manifest>